<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="includes/_head :: head">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge; text/html; charset=UTF-8">
    <title>Cadastro de Clientes - Acesso Negado</title>
    <meta name="description" content="CadClients">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="bg-theme bg-theme1">
    <div id="wrapper">
        <div class="content-wrapper">
            <div class="container-fluid">
                <h2>Acesso Negado</h2>
                <p><a href="/" th:href="@{/}">Voltar para página Inicial</a></p>
            </div>
        </div>
    </div>
</body>

</html>