<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/includes/_head :: head">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge; text/html; charset=UTF-8">
    <title>Cadastro de Clientes</title>
    <meta name="description" content="CadClients">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="bg-theme bg-theme1">

    <div class="container">
        <h2>Olá, Seja muito bem vindo!</h1>
            <ul>
                <li>Veja a lista de <a href="/listarClientes" th:href="@{/listarClientes}">clientes!</a></li>
            </ul>
    </div>

    <div th:replace="/includes/_scripts :: scripts"></div>
</body>

</html>